<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <link rel="stylesheet" href="/static/style.css">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="dominant_colours" />
    <meta name="twitter:title" content="dominant_colours" />
    <meta name="twitter:description" content="Find the dominant colours in an image">
    <meta name="twitter:image" content="https://dominant-colours.glitch.me/static/screenshot_wide.png" />

    <title>dominant colours</title>
  </head>
  <body>
    <main>
      <h2>find the dominant colours in an image</h2>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="errors">
            {% for message in messages %}
              {{ message | safe }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}
      {% endblock %}
    </main>
    <footer>
      also available <a href="https://github.com/alexwlchan/dominant_colours">on the command-line</a> ·
      {{ version }}<br/>
      made with <span class="heart">&#x2764;</span> by <a href="https://alexwlchan.net">alexwlchan</a>
      ·
      code on <a href="https://github.com/alexwlchan/dominant_colours/tree/main/webapp">github</a>
    </footer>
  </body>
</html>
