{% extends "base.html" %}

{% block content %}
  <div id="results">
    <div class="thumbnail">
      <img src="{{ thumbnail_data_uri }}">
    </div>
    {% for c in colours %}
    <div class="sample" id="sample_{{ loop.index }}" style="background: {{ c }};"></div>
    <div class="label" id="label_{{ loop.index }}">{{ c }}</div>
    {% endfor %}
  </div>

  {#
    Style the links based on one of the tint colours from this image.
  #}
  {% if colours | usable_colours | length > 0 %}
    {% set tint_colour = colours | usable_colours | random %}
    <style>
      a, a:visited {
        color: {{ tint_colour }};
      }

      a:hover {
        background: rgba({{ tint_colour | red }}, {{ tint_colour | green }}, {{ tint_colour | blue }}, 0.3);
      }
    </style>
  {% endif %}

  <p><a href="/">try another image</a></p>
{% endblock %}
